<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form class="product-form" action="/prove02Display" method="POST">
                    <div class="form-group">
                        <label for="book">Enter the Book Title</label>
                        <input class="form-control" type="text" name="book" id="book">
                    </div>
                    <div class="form-group">
                        <label for="summary">Enter a Summary of the Book</label>
                        <textarea class="form-control" name="summary" id="summary"></textarea>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</body>
</html>